@charset "utf-8";
@import url("/css/fontello.css");
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
button,
li,
p,
h3 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

.con {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.con a {
    cursor: pointer;
    background: rgb(5, 178, 143);
    padding: 5px;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    line-height: 200px;
    color: white;
    display: block;
    text-align: center;
    font-size: 20px;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: lightseagreen;
}

.navbar {
    background-color: #553F7A;
    height: 80px;
    padding: 20px 20px 20px 50px;
    line-height: 40px;
}

.home {
    float: left;
}

.navbarul {
    float: left;
}

.navbar li {
    display: inline-block;
    margin-left: 20px;
}

.menu-btn {
    cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #FEE38A;
    color: #FEE38A;
}

.menu-btn:hover {
    transition: all 0.2s ease-in;
    background-color: #FEE38A;
    border: 1px solid #FEE38A;
    color: #553F7A;
}

.collapse {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7C54BF;
    height: 5px;
    transition: all 0.2s ease-in;
}

.collapseshow {
    height: 70px;
    transition: all 0.2s ease-in;
}

.collapsecontent {
    opacity: 0;
    visibility: none;
}

.collapsecontentshow {
    transition: all 0.7s ease-in;
    opacity: 1;
}

.collapsecontent {
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapseitem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 90%;
    border: 1px solid white;
    border-radius: 10px;
}

.collapseitem a {
    font-size: 15px;
}

.container {
    position: relative;
}

.modal {
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 230px;
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    background-color: white;
    z-index: 99;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.modalcolsebtn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 20px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(134, 142, 149, 0.6);
    color: white;
    border: 0;
}

.modalcolsebtn:hover {
    background-color: rgba(134, 142, 149, 1);
}

.modalshow {
    top: 80px;
    opacity: 1;
    transition: all 0.2s ease-in;
}

.modalwarp {
    z-index: 88;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modalwarpshow {
    display: block;
}

.modal h3 {
    padding-left: 15px;
    line-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.modal p {
    padding-left: 15px;
    line-height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.modal span {
    color: rgba(134, 142, 149, 0.6);
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
}

.icon-cancel:hover {
    color: rgba(134, 142, 149, 1);
}

.carousel {
    position: relative;
    width: 700px;
    height: 400px;
    background-color: darkcyan;
    margin: 0 auto;
      overflow: hidden;
}

.corouselinner {
  
}

.img {
    position: absolute;
    width: 700px;
    height: 400px;
   
}

.i1 {
    background-color: darkgoldenrod;
  
    
}

.i2 {

    background-color: darkgray;
}

.i3 {
    
    background-color: firebrick;
}


@keyframes disappear {
    from {left:0px;}
    to {left: -700px;}
}
@keyframes show {
    from {
        right: -700px;
    }
    to {
        right: 0px;
    }
}
.carousel-prev,
.carousel-next {
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon-left-open,
.icon-right-open {
    font-size: 30px;
    color: RGBA(179, 179, 179, 1.00);
}
.carobtn:hover{
    color: RGBA(241, 241, 241, 1.00);
}
.carousel-prev {
    left: 30px;
}

.carousel-next {
    right: 30px;
}