<header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <span class="menu-icon">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
      </div>
      <nav class="main-nav">
        <span class="menu-icon-close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>

        <section class="author-box">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}" class="author-img">
          <div class="author-desc">
            <h2>{{site.author}}</h2>
            <p>{{site.about-author}}</p>
            <ul>
              {% if site.email %}
              <li class="email">
                <a href="mailto:{{site.email}}">
                  <i class="fa fa-envelope-o"></i>
                </a>
              </li>
              {% if site.website %}
              <li class="website">
                <a href="http://{{site.website}}" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </li>
              {% if site.github %}
              <li class="github">
                <a href="http://github.com/{{site.github}}" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
        
            </ul>
          </div>
        </section>
          <ul>


            <li>
              <a href="{{site.baseurl}}/">Blog</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/about">About</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/design">Design</a>
            </li>
          </ul>
      </nav>
      <p class="logo">
        <a href="{{site.baseurl}}/">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-logo %}{{site.author-logo}}{% endif %}" alt="{{site.author-logo}}"
            class="author-logo">
        </a>
      </p>
      <div class="search-icon-container">
        <span class="search-icon">
          <a>
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</header>
<!-- End Header -->