@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");
*, *::before, *::after {
  box-sizing: border-box;
}

/* css reset */

html, body, div, img, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 본문 스타일 */

html {
  font-size: 16px;
}

/* 폰트설정 1순위 2순위 설정:다운안될시 대처 */

body {
  font-family: 'VarelaRound', sans-serif;
  font-size: 16px;
  color: #868686;
}

/* 링크스타일 */

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f00;
}

/* 여백초기화 */

html, body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* 숨김 콘텐츠 */

.readable-hidden, .a11y, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 건너뛰기 링크 */

.a11y:focus {
  top: 5px;
  Left: 50%;
  width: auto;
  height: auto;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  background: #000;
  color: #fff;
  padding: 5px 10px;
  transform: translateX(-50%);
  z-index: 10;
}

/* 공통 스타일 */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.margin {
  margin-left: 120px;
  margin-right: 240px;
}

/* 컨테이너 */

.container {
  width: 960px;
}

/* 헤더 */

.header {
  padding-left: 120px;
  padding-top: 127px;
}
.menu li {
  display: inline-block;
}
.menu li:nth-child(3) {
  margin-left: 30px;
}
.menu li:nth-child(4) {
  margin-left: 466px;
  vertical-align: baseline;
}
.title-heading {
  font-family: 'OswaldBold', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #1f4ba5;
}
.date {
  font-family: 'PTSerifItalic', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #b8b8b8;
}
.author {
  font-family: 'PTSerifItalic', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  color: #868686;
}
.header span {
  padding-left: 2px;
  font-family: "OswaldBold", sans-serif;
  font-size: 10px;
  line-height: 1.5;
  color: #868686;
  letter-spacing: 1px;
}
.header span:hover, .header span:focus {
  color: #f00;
}

/* 메인컨텐츠 */

.main-content {
  margin-top: 25px;
}
.main-article-heading {
  font-size: 48px;
  font-family: 'VarelaRound';
  color: #222222;
}
.main-article-quote {
  position: relative;
  margin-top: 49px;
  font-family: 'PTSerifItalic', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #868686;
}
.main-article-quote q::before {
  position: absolute;
  content: url("../images/quote.png");
  left: -44px;
  top: 0;
}
.main-article-quote q::after {
  content: "";
}
.main-article-image {
  margin-top: 45px;
}
.main-article-image-content {
  display: block;
  width: 960px;
  height: 360px
}
.main-article-image figcaption {
  margin-top: 30px;
  font-family: 'PTSerifItalic', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #b8b8b8;
}
.main-article-content {
  margin-top: 50px;
  line-height: 1.88;
  color: #868686;
}

/* 이미지 슬라이드 */

.image-slide img {
  display: block;
}
.section1 {
  display: flex;
  margin-top: 50px;
}
.section1 figcaption {
  text-align: center;
  margin-top: 20px;
  font-family: 'PTSerifItalic', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #b8b8b8;
}
.image-list {
  margin-top: 41px;
}
.prev {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #ececec;
  cursor: pointer;
  float: left;
  overflow: hidden;
  background: url("../images/icon-prev.png") no-repeat;
  background-position: 25px 23px;
  padding-top: 60px;
}
.next {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #ececec;
  cursor: pointer;
  float: left;
  overflow: hidden;
  background: url("../images/icon-next.png") no-repeat;
  background-position: 25px 23px;
  padding-top: 60px;
  margin-left: 1px;
}
.tab-status {
  display: inline-block;
  margin-top: 23px;
  margin-left: 30px;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
}
.tab-status span {
  font-size: 9px;
  vertical-align: top;
}

/* 서브아티클 */

.sub-article {
  margin-top: 49px;
}
.sub-article-heading {
  font-size: 30px;
  color: #222222
}
.sub-article-content {
  margin-top: 48px;
  font-size: 16px;
  line-height: 1.88;
  color: #868686;
}
.sub-article-quote-content {
  position: relative;
  width: 357px;
}
.sub-article-quote-content q::before {
  position: absolute;
  content: url("../images/quote1.png");
  left: -42px;
  top: 0;
}
.sub-article-quote-content q::after {
  content: "";
}
.sub-article-quote {
  margin-top: 48px;
}
.sub-article-quote-content {
  float: left;
  width: 357px;
  font-family: 'PTSerifItalic', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #222222
}
.sub-article-author {
  float: left;
  margin-left: 45px;
  text-align: left;
}
.sub-article-author-name {
  font-family: 'VarelaRound', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: #222222;
  margin-top: 19px;
}
.sub-article-author-nation {
  font-family: 'PTSerifItalic', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #b8b8b8;
  margin-top: 9px;
}
.sub-article-add-wrap {
  margin-top: 50px;
}
.sub-article-add-content {
  margin-top: 50px;
  font-size: 16px;
  line-height: 1.88;
  color: #868686;
}

/* video */

.video {
  margin-top: 46px;
  position: relative;
  width: 600px;
  height: 320px;
}
.video img {
  display: block;
}
.video-duration {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}
.video-caption {
  text-align: center;
  font-family: 'PTSerif', sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  color: #b8b8b8;
  margin-top: 20px;
}
.video-play-button {
  position: absolute;
  left: 60px;
  bottom: 60px;
  width: 40px;
  height: 54px;
  background: url('../images/icon-paly.png') no-repeat 50%;
  ;
  overflow: hidden;
  border: 0;
}
.video-play-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

/* other-content */

.other-content {
  font-family: 'VarelaRound', sans-serif;
  margin-top: 79px;
  text-align: left;
}
.other-content1-heading, .other-content2-heading {
  font-size: 18px;
  color: #222222;
}
.other-content p {
  font-size: 16px;
  line-height: 1.88;
  color: #868686;
  margin-top: 25px;
}
.other-content1 {
  float: left;
  width: 266px;
}
.other-content2 {
  float: left;
  width: 262px;
  margin-left: 54px;
}

/* footer */

.footer {
  padding-left: 120px;
  padding-bottom: 42px;
}
.social {
  margin-top: 56px;
}
.social li {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
}
.social a {
  display: block;
  width: 85px;
  height: 30px;
  border-radius: 15px;
  font-family: 'OswaldBold', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  color: #ffffff;
  line-height: 30px;
  padding-right: 20px;
}
.facebook {
  background: url("../images/facebool.png") no-repeat 15px 50%;
  background-color: #215b9a;
}
.twitter {
  background: url("../images/icon-twitter.png") no-repeat 15px 50%;
  background-color: #00adf2;
}
.google {
  background: url("../images/icon-google.png") no-repeat 15px 50%;
  background-color: #ce4435;
}
.pinterest {
  background: url("../images/icon-pinterest.png") no-repeat 15px 50%;
  background-color: #e51616;
}
.back {
  margin-top: 43px;
}
.back a {
  font-family: 'VarelaRound', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #1f4ba5;
}
.back a::before {
  content: url("../images/icon-back.png");
  padding-right: 10px;
}