html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #ffffff;
}



.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  background-color: #4983b1;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.rgb {
  font-size: 52px;
}

.font17 {
  font-size: 17px;
}

.bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #232323;
}

.score {
  text-align: center;
}

.game-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.rgb-text {
  font-size: 26px;
  margin-bottom: 50px;
}

.boxes {
  display: flex;
}

.box {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.box:last-child {
  margin-right: 0;
}
