
.icon-zoom-in:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-user-1:before { content: '\e802'; } /* '' */
.icon-user-2:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-basket-alt:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-signal:before { content: '\e807'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-product-hunt:before { content: '\f288'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-tumblr-1:before { content: '\f315'; } /* '' */